/* Current Weather Styling */
i.wi-forecast {
    font-size: 40px;
    margin: 15px 0 15px 0;

    @media (max-width: 700px) {
      font-size: 30px;
      margin-bottom: 0;
    }
}

.text-cap {
	text-transform: capitalize;
}

.today-temp-wrap {
	padding: 50px 0;
}

@media screen and (max-width:768px){ 
	.MuiTypography-h6{font-size: 1rem;}
	.switch-wrap{text-align: center !important;}
	.today-date{font-size: 1rem !important;}
	.today-temp{font-size: 3rem !important;}
	.today-temp-wrap{ padding: 0 !important;}
}